<% @events.each do |event| %>
	<div class="ui-widget ui-corner-all">
		<div class="ui-widget-content ui-corner-all">
			<h3 class="ui-widget-header ui-corner-top widget-padding"><%= event.name %></h3>
			<div class="widget-padding">
				Info:<br />
				<%= event.venue %><br />
				<%= event.info %><br />
				<%= link_to '<span class="pen icon"></span>Edit'.html_safe, edit_admin_event_path(event), :class => 'button primary' %>
			</div>
		</div>
	</div>
<% end %>
