body { font-size: 13px; font-family: Arial, sans-serif; background: #F7F7F7;
	color: #464646; }
h1, h2 { font-weight: bold; color: #666666; text-shadow: 0 1px 0 #FFFFFF; }
h3, h4 { margin-bottom: 0;}
textarea, input[type=text] { font-size: 110%;}
textarea, input:not([type="checkbox"]):not([type="radio"]):not([type="file"]) { padding: 8px;}
thead th { background: #b30000; color: #f5f5f5;}
tbody tr:nth-child(2n) td, tbody tr.even td { background: #fff7f7;}
th, td, caption { padding: 10px 10px;}
table { border: 1px solid #dddddd;}
fieldset { border: 0 none; padding: 0;}
ul, ol { list-style-type: none; padding-left: 0;}
li { list-style: none;}
#wrapper { background: #fff; border: 1px solid #EBEBE9; -webkit-border-radius: 5px;
	-moz-border-radius: 5px; min-height: 500px; margin: 20px auto;}
#header { padding-top: 40px; }
#nav { padding-bottom: 20px; background: #b30000; height: 12px; margin: 0 25px; }
.content { padding: 10px 25px;}
#footer { padding-bottom: 20px;}
#sidebar > div { position: fixed;}
#eventinfo { margin-bottom: 20px; }
a { color: #b30000; text-decoration: none;}
.content a:hover { text-decoration: underline;}
a.button.middle, a.button.left { margin-right: -3px;}
a.button.right { margin-left: 0;}
#staff { margin-top: 15px;}
.holder { margin-bottom: 20px;}
.floated { float: left; margin-right: 30px;}
.floated img { -webkit-border-radius: 10px; -moz-border-radius: 10px; border: 1px solid #EBEBE9;}
.info { margin-top: 20px;}
.count { text-align: right;}
.full { text-align: center; margin: 30px auto;}

/*
dataTables
*/
.datatable th, .datatable td, .datatable caption { padding: 2px 10px;}
.datatable textarea, .datatable input:not([type="checkbox"]):not([type="radio"]):not([type="file"]) { padding: 0;}
table { margin-bottom: 0;}
.dataTables_wrapper th, .dataTables_wrapper td, .dataTables_wrapper caption { padding: 5px;}
.dataTables_wrapper tbody td { padding: 10px 5px;}
.dataTables_wrapper .ui-icon { float: right;}
.dataTables_wrapper input[type=text] { height: 10px;}
table#records { margin-top: 30px;}

/* UI overrides */
.widget-padding { padding: 10px; }
.block { display:block; float:left; width: 400px; }

/* errors */
#errorExplanation h2 { color: #8A1F11;}

/* formtastic */
form.formtastic fieldset > ol > li { margin-bottom: 0;}
form.formtastic li { margin-bottom: 5px;}
form.formtastic input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]), textarea {display: block; width: 400px; font-size: 120%; }
label { line-height: 24px;}
form.formtastic abbr { color: #c52019; padding-left: 5px; font-size: 120%;}