<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
<h1 class="ui-widget-header ui-helper-clearfix ui-corner-top pads">Editar Sector</h1>

<%= render :partial => 'form' %>
</div>