<div class="span-10">
	<h2>Sectors</h2>
</div>
<div class="span-10">
	<%= link_to '<span class="plus icon"></span>Add Sector'.html_safe, new_sector_path, :class => 'button' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
			<th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <td><%= sector.name %></td>
				<td><%= link_to '<span class="pen icon"></span>Edit'.html_safe, edit_sector_path(sector), :class => 'button left' %> <%= link_to '<span class="trash icon"></span>Delete'.html_safe, sector, :method => :delete, :confirm => "Are you sure?", :class => 'button right negative'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

