<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
<div class="pads">
<table class="data">
	<thead>
    	<tr>
      		<th>Nombre</th>
    	</tr>
    </thead>
	<tbody>
	<% @sectors.each do |sector| %>
	<tr>
		<td class="fourteen"><%= h(sector.name) %>
			<div class="hovercontrol grid_2">
				<%= link_to "<span class=\"ui-icon ui-icon-pencil\" style=\"float: left; margin-right: 10px;\">icon</span>", edit_sector_path(sector) %>
				<%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left; margin-right: 10px;\">icon</span>", sector, :confirm => "Esta seguro que desea borrar este Registro?", :method => :delete %>
			</div>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<p>
	<%= link_to "<span class=\"ui-icon ui-icon-plusthick\" style=\"float: left; margin-right: 10px;\">icon</span>Agregar", new_sector_path, :class => 'as_button' %>
</p>
</div>
</div>