<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all pads">
<h1 class="ui-widget-header ui-helper-clearfix ui-corner-top pads">Editar Registro</h1>

<%= render :partial => 'form' %>
</div>