<%= image_tag "logo.png" %>
<h2>Welcome</h2>
<div>
	<div class="floated">
		<%= image_tag "datacapture.jpg" %>
	</div>
	<h4>It's great that you decided to join us.</h4><br />
	<h4>Remember:</h4>
	<h4>BajaMak 2011<br />
		October 13, 2011<br />
		Valle Bonito Industrial Park<br />
		Tijuana, Mexico.</h4><br />
</div>

<%= link_to "Register here", new_person_path, :class => 'button big primary pill'%>
