<h1>Interests#index</h1>

<table class="data">
	<thead>
    	<tr>
      		<th>Nombre</th>
		    <th>Acciones</th>
		    <th></th>
    	</tr>
    </thead>
	<tbody>
	<% @interests.each do |interest| %>
	<tr>
		<td class="first"><%= h(interest.name) %></td>
		<td><%= link_to "Editar", edit_interest_path(interest) %></td>
		<td><%= link_to "Borrar", interest, :confirm => "Esta seguro que desea borrar este Interes?", :method => :delete %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<p>
	<%= link_to "Agregar", new_interest_path, :class => 'as_button' %>
</p>
