<div class="span-10">
	<h2>Empresas</h2>
</div>
<div class="span-10">
	<%= link_to '<span class="plus icon"></span>Agregar Empresa'.html_safe, new_company_path, :class => 'button' %>
</div>

<div id="Results">
	
</div>
