<h1>M&eacute;todos de Promoci&oacute;n</h1>

<table class="data">
	<thead>
    	<tr>
      		<th>Nombre</th>
    	</tr>
    </thead>
	<tbody>
	<% @promos.each do |promo| %>
	<tr>
		<td class="fourteen"><%= h(promo.name) %>
			<div class="hovercontrol grid_2">
				<%= link_to "<span class=\"ui-icon ui-icon-pencil\" style=\"float: left; margin-right: 10px;\">icon</span>", edit_promo_path(promo) %>
				<%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left; margin-right: 10px;\">icon</span>", promo, :confirm => "Esta seguro que desea borrar este Registro?", :method => :delete %>
			</div>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<p>
	<%= link_to "<span class=\"ui-icon ui-icon-plusthick\" style=\"float: left; margin-right: 10px;\">icon</span>Agregar", new_promo_path, :class => 'as_button' %>
</p>
