<%= render :template => 'pages/dashboard' %>

<div id="reporting">
	<table id="records">
		<thead>
			<tr>
				<th>Registration type</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Job</th>
				<th>Company</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Country</th>
				<% if sectors? %>
					<th>Sector</th>
				<% end %>
				<% if interests? %>
					<th>Interests</th>
				<% end %>
				<% if promotions? %>
					<th>Promotion media</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>JSON</td>
			</tr>
		</tbody>
	</table>
</div>


<script type="text/javascript">
	$('table#records').dataTable({
		"bProcessing": true,
		"bServerSide": true,
		"sAjaxSource": "/reporting.html",
		"bJQueryUI": true,
		"sScrollX": "100%",
		"sPaginationType": "full_numbers",
		"iDisplayLength": 5,
		"aLengthMenu": [[5, 10, 25, 50, 100, 250, -1], [5, 10, 25, 50, 100, 250, "All"]],
		"sDom": 'T<"clear">lfrtip',
		"oTableTools": {
					"sSwfPath": "swf/copy_cvs_xls_pdf.swf"
				}
	});
</script>