<div class="ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
<h1 class="ui-widget-header ui-helper-clearfix ui-corner-top pads">Pa&iacute;ses</h1>
<div class="pads">
<table class="data">
	<thead>
    	<tr>
      		<th>Nombre</th>
    	</tr>
    </thead>
	<tbody>
	<% @countries.each do |country| %>
	<tr>
		<td class="fourteen"><%= h(country.name) %>
			<div class="hovercontrol grid_2">
				<%= link_to "<span class=\"ui-icon ui-icon-pencil\" style=\"float: left; margin-right: 10px;\">icon</span>", edit_country_path(country) %>
				<%= link_to "<span class=\"ui-icon ui-icon-trash\" style=\"float: left; margin-right: 10px;\">icon</span>", country, :confirm => "Esta seguro que desea borrar este Registro?", :method => :delete %>
			</div>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<p>
	<%= link_to "<span class=\"ui-icon ui-icon-plusthick\" style=\"float: left; margin-right: 10px;\">icon</span>Agregar", new_country_path, :class => 'as_button' %>
</p>
</div>
</div>