<div id="userreport">
	<table id="customreport">
		<thead>
	    	<tr>
				<th>Registro</th>
	      		<th>Nombre</th>
				<th>Email</th>
				<th>Puesto</th>
				<th>Departamento</th>
				<th>Empresa</th>
				<th>Direccion</th>
				<th>Ciudad</th>
				<th>Estado</th>
				<th>CP</th>
				<th>Pais</th>
				<th>Tel.</th>
				<th>Website</th>
				<th>Sector</th>
				<th>Intereses</th>
				<th>Como se entero</th>
	    	</tr>
	    </thead>
		<tbody>
			<tr>
				<td>JSON data</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th><input type="text" name="search_engine" value="Tipos de Registro" class="search_init" /></th>
				<th><input type="text" name="search_browser" value="Nombre" class="search_init" /></th>
				<th><input type="text" name="search_platform" value="Email" class="search_init" /></th>
				<th><input type="text" name="search_version" value="Puesto" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Departamentos" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Empresas" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Direccion" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Ciudad" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Estado" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="CP" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Paises" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Tels." class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Websites" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Sectores" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Intereses" class="search_init" /></th>
				<th><input type="text" name="search_grade" value="Medios de promocion" class="search_init" /></th>
			</tr>
		</tfoot>
	</table>
</div>