<div id="footer" class="grid_16">
	<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_MX"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>  <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type"> :registra.me</span> se encuentra bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_MX">Licencia Creative Commons Attribution-ShareAlike 3.0 Unported</a>.
	</p>
</div>